# Operaciones de Manejo de Datos

## Cirugía de datos

La gestión de datos describe una serie de procesos diseñados para explorar, transformar y validar conjuntos de datos sin procesar desde sus formas desordenadas y complejas hasta datos de alta calidad. Los datos procesados pueden utilizarse para obtener información valiosa y orientar las decisiones empresariales.

In [3]:
import pandas as pd

In [4]:
# Adapatmos los datos para que puedan ser leidos como csv
with open('../datasets/customer_churn/customer_churn.csv', 'r') as infile:
    with open('../datasets/customer_churn/customer_churn_fixed.csv', 'w') as outfile:
        for line in infile:
            new_line = line.replace('\"', '')
            outfile.write(new_line)

In [5]:
df = pd.read_csv('../datasets/customer_churn/customer_churn_fixed.csv', sep = ',')
df.head()

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.

## Crear un subconjutnto de columnas

In [6]:
# Seleccionar una única columna
df['Account Length']

0       128
1       107
2       137
3        84
4        75
       ...
3328    192
3329     68
3330     28
3331    184
3332     74
Name: Account Length, Length: 3333, dtype: int64

In [7]:
# Seleccionar varias columnas
df[['Account Length', 'Phone', 'Eve Charge', 'Day Calls']]

      Account Length     Phone  Eve Charge  Day Calls
0                128  382-4657       16.78        110
1                107  371-7191       16.62        123
2                137  358-1921       10.30        114
3                 84  375-9999        5.26         71
4                 75  330-6626       12.61        113
...              ...       ...         ...        ...
3328             192  414-4276       18.32         77
3329              68  370-3271       13.04         57
3330              28  328-8230       24.55        109
3331             184  364-6381       13.57        105
3332              74  400-4344       22.60        113

[3333 rows x 4 columns]

## Crear subconjuntos de filas

In [8]:
# Seleccionar un rango de datos
df.iloc[10:20]

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
10,IN,65,415,329-6603,no,no,0,129.1,137,21.95,...,83,19.42,208.8,111,9.40,12.7,6,3.43,4,True.
11,RI,74,415,344-9403,no,no,0,187.7,127,31.91,...,148,13.89,196.0,94,8.82,9.1,5,2.46,0,False.
12,IA,168,408,363-1107,no,no,0,128.8,96,21.90,...,71,8.92,141.1,128,6.35,11.2,2,3.02,1,False.
13,MT,95,510,394-8006,no,no,0,156.6,88,26.62,...,75,21.05,192.3,115,8.65,12.3,5,3.32,3,False.
14,IA,62,415,366-9238,no,no,0,120.7,70,20.52,...,76,26.11,203.0,99,9.14,13.1,6,3.54,4,False.
15,NY,161,415,351-7269,no,no,0,332.9,67,56.59,...,97,27.01,160.6,128,7.23,5.4,9,1.46,4,True.
16,ID,85,408,350-8884,no,yes,27,196.4,139,33.39,...,90,23.88,89.3,75,4.02,13.8,4,3.73,1,False.
17,VT,93,510,386-2923,no,no,0,190.7,114,32.42,...,111,18.55,129.6,121,5.83,8.1,3,2.19,3,False.
18,VA,76,510,356-2992,no,yes,33,189.7,66,32.25,...,65,18.09,165.7,108,7.46,10.0,5,2.70,1,False.
19,TX,73,415,373-2782,no,no,0,224.4,90,38.15,...,88,13.56,192.8,74,8.68,13.0,2,3.51,1,False.

In [9]:
# Seleccionar por etiquetas
df.loc[df['Day Mins'] > 325]

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
15,NY,161,415,351-7269,no,no,0,332.9,67,56.59,...,97,27.01,160.6,128,7.23,5.4,9,1.46,4,True.
156,OH,83,415,370-9116,no,no,0,337.4,120,57.36,...,116,19.33,153.9,114,6.93,15.8,7,4.27,0,True.
197,TX,208,510,378-3625,no,no,0,326.5,67,55.51,...,113,14.99,181.7,102,8.18,10.7,6,2.89,2,True.
365,CO,154,415,343-5709,no,no,0,350.8,75,59.64,...,94,18.40,253.9,100,11.43,10.1,9,2.73,1,True.
605,MO,112,415,373-2053,no,no,0,335.5,77,57.04,...,109,18.06,265.0,132,11.93,12.7,8,3.43,2,True.
975,DE,129,510,332-6181,no,no,0,334.3,118,56.83,...,104,16.33,191.0,83,8.59,10.4,6,2.81,0,True.
985,NY,64,415,345-9140,yes,no,0,346.8,55,58.96,...,79,21.21,275.4,102,12.39,13.3,9,3.59,1,True.
1679,OK,82,510,393-4823,no,no,0,329.8,73,56.07,...,120,17.71,267.1,102,12.02,10.6,6,2.86,0,True.
2028,SD,93,510,408-4836,no,no,0,328.1,106,55.78,...,89,12.89,303.5,114,13.66,8.7,3,2.35,1,True.
2412,WI,89,415,373-4264,no,no,0,326.3,112,55.47,...,110,14.03,162.9,97,7.33,7.5,1,2.03,1,True.
2594,OH,115,510,348-1163,yes,no,0,345.3,81,58.70,...,106,17.29,217.5,107,9.79,11.8,8,3.19,1,True.

## Crear subconjuntos de filas y columnas

In [10]:
# Seleccionar por etiquetas (filas, columnas)
df.loc[100:115, ['Day Mins', 'Night Mins', 'Eve Calls']]

     Day Mins  Night Mins  Eve Calls
100     161.2       160.2         83
101     178.3       129.1         76
102     151.7       180.0        105
103     135.0       245.3        106
104     170.5       248.6        109
105     238.1       190.0         98
106     281.4       187.2         76
107     117.9       217.0        115
108     148.6       219.4         97
109     229.8       241.4        121
110     165.0       119.2         83
111     185.0       222.8         94
112     161.0       227.7        113
113     126.7       247.8         90
114      58.9       211.4         59
115     196.8       138.3        122

In [11]:
# Seleccioanr por índices (filas, columnas)
df.iloc[1:10, 3:6]

      Phone Int'l Plan VMail Plan
1  371-7191         no        yes
2  358-1921         no         no
3  375-9999        yes         no
4  330-6626        yes         no
5  391-8027        yes         no
6  355-9993         no        yes
7  329-9001        yes         no
8  335-4719         no         no
9  330-8173        yes        yes

## Agrupación de datos

In [12]:
df.groupby('State')

In [13]:
df.groupby('State').groups

{'AK': [36, 38, 95, 138, 181, 282, 339, 350, 353, 505, 550, 657, 684, 718, 719, 812, 950, 953, 1024, 1054, 1094, 1162, 1224, 1260, 1342, 1417, 1589, 1682, 1803, 1884, 1987, 2071, 2083, 2101, 2222, 2265, 2269, 2270, 2367, 2418, 2475, 2571, 2627, 2752, 2807, 2902, 2929, 3088, 3137, 3236, 3241, 3283], 'AL': [5, 112, 135, 169, 219, 239, 272, 278, 288, 326, 332, 450, 469, 491, 497, 514, 531, 540, 590, 750, 776, 788, 805, 822, 843, 859, 934, 949, 958, 1015, 1026, 1090, 1104, 1129, 1131, 1152, 1274, 1428, 1464, 1613, 1661, 1662, 1767, 1780, 1839, 1902, 2081, 2135, 2155, 2172, 2180, 2212, 2317, 2329, 2334, 2348, 2446, 2494, 2595, 2601, 2634, 2644, 2699, 2738, 2748, 2749, 2827, 2845, 2858, 2939, 2992, 3017, 3048, 3058, 3078, 3095, 3128, 3139, 3180, 3306], 'AR': [42, 92, 134, 178, 297, 351, 352, 440, 442, 475, 585, 652, 696, 911, 956, 960, 1023, 1226, 1320, 1484, 1536, 1543, 1596, 1601, 1639, 1786, 1823, 1829, 1998, 2006, 2146, 2183, 2216, 2268, 2283, 2321, 2490, 2528, 2550, 2558, 2606, 2625, 2786, 2878, 2895, 2976, 3084, 3112, 3120, 3157, 3166, 3225, 3243, 3256, 3280], 'AZ': [22, 33, 94, 97, 105, 114, 125, 168, 187, 211, 213, 248, 304, 329, 348, 374, 417, 428, 456, 468, 478, 566, 598, 717, 790, 796, 799, 891, 965, 1235, 1262, 1298, 1329, 1357, 1385, 1399, 1475, 1501, 1555, 1573, 1635, 1718, 1719, 1870, 1899, 1939, 1988, 2078, 2326, 2408, 2491, 2512, 2812, 2841, 2890, 2995, 3047, 3099, 3101, 3153, 3186, 3235, 3284, 3328], 'CA': [61, 131, 356, 372, 496, 654, 655, 765, 862, 954, 1038, 1158, 1174, 1290, 1524, 1532, 1562, 2004, 2115, 2119, 2167, 2217, 2344, 2419, 2437, 2499, 2744, 2779, 2861, 2906, 2913, 3053, 3290, 3301], 'CO': [21, 56, 57, 82, 108, 170, 190, 360, 365, 559, 578, 635, 644, 659, 673, 685, 689, 706, 752, 830, 876, 888, 908, 1141, 1154, 1179, 1231, 1304, 1449, 1462, 1465, 1553, 1637, 1681, 1735, 1772, 1778, 1805, 1812, 1856, 1911, 1973, 1996, 2095, 2097, 2242, 2247, 2282, 2395, 2410, 2421, 2473, 2533, 2534, 2554, 2642, 2648, 2746, 2809, 2927, 2998, 3011, 3021, 3064, 3075, 3096], 'CT': [290, 293, 386, 548, 564, 579, 651, 671, 707, 720, 864, 901, 1033, 1040, 1153, 1209, 1301, 1313, 1364, 1372, 1384, 1387, 1456, 1486, 1519, 1549, 1565, 1586, 1592, 1606, 1615, 1645, 1651, 1686, 1687, 1764, 1804, 1830, 1880, 1924, 2058, 2089, 2091, 2110, 2129, 2134, 2211, 2214, 2248, 2273, 2316, 2349, 2364, 2384, 2386, 2536, 2657, 2683, 2703, 2872, 2889, 2894, 2897, 2898, 2968, 3063, 3133, 3154, 3170, 3191, 3200, 3231, 3296, 3331], 'DC': [76, 90, 167, 199, 256, 296, 376, 399, 424, 458, 529, 614, 621, 624, 709, 735, 839, 886, 897, 937, 1025, 1185, 1199, 1542, 1579, 1746, 1835, 1906, 2067, 2068, 2181, 2277, 2415, 2454, 2502, 2520, 2559, 2566, 2579, 2596, 2641, 2658, 2682, 2691, 2712, 2762, 2928, 2934, 2935, 3039, 3106, 3207, 3263, 3282], 'DE': [47, 113, 140, 165, 201, 284, 333, 361, 407, 415, 416, 513, 570, 627, 639, 674, 795, 809, 824, 884, 940, 975, 1004, 1034, 1089, 1107, 1169, 1322, 1467, 1491, 1531, 1558, 1641, 1703, 1784, 1818, 1854, 1858, 1921, 1931, 1961, 1990, 2022, 2194, 2208, 2220, 2306, 2409, 2480, 2599, 2743, 2836, 2892, 2903, 3062, 3103, 3114, 3142, 3181, 3198, 3234], 'FL': [20, 137, 159, 214, 216, 217, 255, 301, 330, 349, 441, 466, 495, 501, 573, 576, 617, 742, 764, 802, 811, 827, 834, 845, 877, 882, 986, 1009, 1042, 1087, 1117, 1157, 1187, 1198, 1269, 1277, 1448, 1470, 1517, 1556, 1665, 1698, 1704, 1848, 2158, 2198, 2221, 2239, 2249, 2254, 2257, 2300, 2323, 2332, 2345, 2356, 2460, 2540, 2651, 2665, 2864, 3010, 3077], 'GA': [35, 40, 83, 166, 316, 327, 340, 400, 448, 477, 483, 484, 552, 629, 665, 669, 716, 798, 807, 835, 881, 913, 959, 977, 1017, 1058, 1150, 1177, 1249, 1295, 1382, 1447, 1488, 1680, 1789, 1795, 1922, 2043, 2106, 2132, 2264, 2274, 2322, 2417, 2445, 2578, 2580, 2584, 2942, 2953, 3098, 3107, 3121, 3320], 'HI': [29, 74, 276, 480, 595, 705, 794, 828, 860, 875, 902, 917, 929, 1020, 1063, 1099, 1151, 1189, 1297, 1340, 1360, 1394, 1457, 1478, 1511, 1540, 1578, 1720, 1732, 1742, 1762, 1882, 1895, 1923, 1934, 1944, 2152, 2441, 2453, 2459, 2638, 2705, 2723, 2740, 2796, 2801, 2830, 2885, 2940, 2979, 2983, 3108, 3113], 'IA': [12, 14, 50, 100, 150, 162, 227, 303, 328, 489, 699, 855, 887, 912, 941, 1113, 1175, 1206, 1234, 1266, 1300, 1356, 1494, 1527, 1530, 1605, 1838, 2031, 2035, 2040, 2085, 2149, 2261, 2416, 2561, 2570, 2632, 2661, 2677, 2783, 2856, 3125, 3193, 3308], 'ID': [16, 43, 48, 60, 99, 119, 234, 314, 318, 401, 449, 479, 515, 528, 563, 708, 772, 879, 948, 1095, 1109, 1112, 1135, 1145, 1223, 1237, 1293, 1327, 1332, 1445, 1463, 1500, 1525, 1554, 1617, 1695, 1705, 1708, 1711, 1886, 1979, 2011, 2018, 2075, 2109, 2182, 2184, 2223, 2232, 2340, 2383, 2405, 2427, 2434, 2438, 2442, 2449, 2479, 2483, 2611, 2737, 2791, 2816, 2847, 2963, 2990, 3169, 3190, 3195, 3204, 3211, 3265, 3313], 'IL': [30, 237, 261, 342, 398, 406, 472, 524, 642, 672, 826, 836, 849, 996, 1116, 1139, 1204, 1233, 1286, 1341, 1378, 1435, 1473, 1571, 1591, 1783, 1833, 1859, 1913, 1946, 1947, 2012, 2027, 2051, 2169, 2308, 2310, 2347, 2371, 2414, 2501, 2517, 2549, 2565, 2607, 2622, 2674, 2692, 2717, 2760, 2820, 2933, 3001, 3056, 3155, 3229, 3254, 3304], 'IN': [10, 51, 55, 86, 104, 206, 225, 242, 247, 295, 307, 343, 383, 423, 487, 490, 568, 580, 677, 732, 833, 1032, 1041, 1088, 1170, 1183, 1196, 1267, 1388, 1451, 1599, 1815, 1871, 1893, 1937, 1993, 2025, 2073, 2126, 2205, 2260, 2303, 2330, 2331, 2360, 2394, 2465, 2472, 2484, 2503, 2608, 2754, 2759, 2776, 2780, 2782, 2834, 2849, 2866, 2926, 2985, 3069, 3102, 3140, 3156, 3224, 3273, 3274, 3292, 3305, 3323], 'KS': [0, 179, 258, 287, 368, 379, 385, 430, 451, 508, 619, 620, 636, 680, 690, 702, 738, 783, 852, 987, 1028, 1043, 1056, 1066, 1103, 1127, 1155, 1159, 1167, 1218, 1219, 1228, 1232, 1279, 1334, 1593, 1622, 1677, 1747, 1824, 1852, 1971, 1997, 2030, 2059, 2096, 2124, 2159, 2163, 2173, 2236, 2244, 2338, 2562, 2645, 2689, 2750, 2756, 2805, 2880, 2914, 2931, 2943, 2980, 2984, 3217, 3244, 3253, 3285, 3287], 'KY': [88, 103, 192, 229, 335, 403, 457, 522, 611, 722, 737, 747, 815, 924, 933, 976, 1084, 1097, 1120, 1349, 1403, 1520, 1632, 1666, 1684, 1790, 1810, 1813, 1814, 1853, 1878, 1896, 1957, 1968, 1974, 1980, 2231, 2296, 2328, 2358, 2422, 2425, 2433, 2493, 2509, 2541, 2567, 2612, 2640, 2767, 2923, 2937, 2948, 2961, 2999, 3031, 3033, 3183, 3208], 'LA': [8, 32, 91, 148, 155, 174, 210, 215, 453, 534, 623, 675, 743, 748, 758, 778, 892, 972, 1022, 1067, 1140, 1203, 1216, 1227, 1305, 1351, 1415, 1446, 1496, 1779, 1948, 2055, 2112, 2197, 2324, 2341, 2346, 2458, 2518, 2610, 2722, 2804, 2875, 3014, 3022, 3060, 3138, 3145, 3178, 3302, 3311], 'MA': [6, 37, 101, 111, 269, 313, 315, 320, 369, 391, 425, 455, 486, 601, 676, 773, 851, 871, 873, 961, 1118, 1138, 1172, 1247, 1263, 1288, 1344, 1514, 1561, 1572, 1594, 1659, 1701, 1723, 1836, 1861, 1864, 1908, 1992, 2099, 2143, 2226, 2361, 2429, 2477, 2516, 2546, 2698, 2806, 2853, 2862, 2868, 2883, 2893, 2899, 2918, 3015, 3029, 3042, 3065, 3100, 3123, 3141, 3230, 3242], 'MD': [41, 79, 122, 141, 195, 202, 208, 218, 230, 300, 367, 392, 467, 482, 494, 544, 567, 865, 868, 895, 904, 935, 1149, 1182, 1192, 1343, 1396, 1458, 1472, 1481, 1505, 1506, 1548, 1590, 1638, 1653, 1706, 1806, 1868, 1935, 1994, 2017, 2063, 2116, 2255, 2313, 2337, 2359, 2397, 2430, 2457, 2466, 2485, 2515, 2551, 2604, 2618, 2714, 2747, 2784, 2848, 3007, 3040, 3043, 3054, 3070, 3175, 3272, 3298, 3322], 'ME': [93, 115, 198, 223, 298, 325, 355, 426, 492, 498, 565, 583, 593, 622, 647, 686, 729, 789, 801, 829, 848, 885, 894, 928, 1074, 1078, 1091, 1184, 1217, 1252, 1296, 1353, 1442, 1535, 1537, 1604, 1623, 1716, 1750, 1926, 1981, 2019, 2062, 2271, 2447, 2532, 2576, 2587, 2654, 2678, 2709, 2774, 2813, 2863, 3018, 3035, 3097, 3105, 3151, 3226, 3297, 3315], 'MI': [46, 106, 110, 142, 145, 163, 177, 203, 253, 283, 286, 432, 439, 474, 502, 503, 526, 600, 603, 723, 739, 746, 991, 992, 1000, 1121, 1143, 1181, 1272, 1276, 1374, 1420, 1433, 1436, 1551, 1559, 1600, 1717, 1798, 1865, 1951, 2007, 2060, 2074, 2108, 2218, 2307, 2342, 2387, 2588, 2613, 2624, 2643, 2696, 2697, 2708, 2720, 2728, 2751, 2795, 2823, 2882, 2957, 2971, 2989, 3030, 3046, 3049, 3080, 3164, 3237, 3252, 3291], 'MN': [62, 67, 71, 75, 78, 176, 200, 235, 260, 281, 299, 310, 341, 421, 542, 571, 596, 656, 688, 770, 800, 819, 821, 889, 947, 983, 1029, 1050, 1070, 1079, 1147, 1161, 1214, 1245, 1246, 1254, 1281, 1421, 1507, 1509, 1557, 1563, 1636, 1646, 1688, 1725, 1741, 1745, 1768, 1809, 2077, 2079, 2107, 2133, 2207, 2285, 2299, 2335, 2406, 2420, 2428, 2497, 2548, 2560, 2572, 2577, 2586, 2631, 2649, 2687, 2694, 2785, 2788, 2798, 2852, 2855, 2905, 2920, 2949, 3037, 3045, 3094, 3201, 3267], 'MO': [7, 28, 118, 158, 205, 226, 268, 305, 378, 443, 507, 523, 605, 634, 649, 704, 712, 751, 784, 825, 854, 861, 863, 893, 914, 915, 963, 981, 1008, 1036, 1072, 1111, 1197, 1202, 1379, 1406, 1455, 1512, 1546, 1634, 1647, 1713, 1755, 1785, 1834, 1851, 1901, 1942, 2080, 2098, 2165, 2297, 2319, 2353, 2519, 2621, 2991, 3006, 3083, 3119, 3134, 3294, 3314], 'MS': [98, 123, 126, 127, 222, 252, 354, 363, 389, 413, 509, 516, 691, 728, 780, 923, 955, 997, 1164, 1213, 1336, 1407, 1544, 1560, 1597, 1669, 1722, 1727, 1729, 1869, 1956, 1964, 2039, 2084, 2122, 2195, 2204, 2215, 2267, 2280, 2289, 2366, 2470, 2486, 2505, 2568, 2575, 2603, 2672, 2734, 2765, 2787, 2790, 2802, 2828, 2829, 2900, 3051, 3052, 3082, 3085, 3092, 3146, 3205, 3316], 'MT': [13, 27, 96, 193, 280, 331, 334, 435, 558, 631, 638, 645, 660, 667, 695, 703, 744, 769, 775, 804, 1085, 1125, 1221, 1222, 1243, 1270, 1273, 1316, 1330, 1405, 1412, 1460, 1485, 1493, 1497, 1541, 1575, 1584, 1614, 1748, 1985, 1989, 2034, 2042, 2044, 2050, 2128, 2142, 2246, 2315, 2354, 2391, 2424, 2482, 2496, 2544, 2552, 2564, 2589, 2637, 2639, 2794, 2901, 2972, 2977, 3023, 3127, 3150], 'NC': [64, 264, 366, 370, 543, 569, 607, 637, 760, 761, 837, 909, 925, 945, 999, 1051, 1081, 1106, 1244, 1261, 1280, 1347, 1393, 1411, 1441, 1569, 1588, 1626, 1715, 1754, 1756, 1769, 1845, 1850, 1877, 1952, 2010, 2090, 2111, 2151, 2164, 2190, 2230, 2259, 2281, 2370, 2443, 2451, 2537, 2555, 2635, 2646, 2726, 2732, 2763, 2792, 2797, 2837, 2871, 2958, 3132, 3163, 3184, 3218, 3223, 3246, 3259, 3299], 'ND': [377, 464, 632, 640, 664, 683, 777, 779, 844, 847, 982, 998, 1005, 1010, 1012, 1061, 1098, 1211, 1242, 1271, 1358, 1371, 1438, 1522, 1598, 1620, 1630, 1656, 1740, 1743, 1771, 1773, 1799, 1807, 1918, 1954, 1972, 2045, 2088, 2092, 2166, 2174, 2320, 2355, 2362, 2377, 2379, 2563, 2591, 2597, 2619, 2673, 2721, 2947, 2970, 3020, 3055, 3073, 3118, 3124, 3159, 3188], 'NE': [25, 120, 129, 130, 151, 175, 291, 358, 412, 431, 470, 511, 535, 555, 662, 682, 692, 741, 810, 846, 869, 936, 1122, 1190, 1208, 1236, 1317, 1391, 1402, 1508, 1568, 1570, 1714, 1800, 1820, 1881, 1907, 1955, 1966, 2015, 2037, 2087, 2147, 2202, 2238, 2288, 2305, 2393, 2462, 2495, 2590, 2605, 2655, 2668, 2711, 2771, 2921, 2938, 2973, 3026, 3194], 'NH': [31, 171, 183, 267, 387, 427, 587, 698, 831, 1053, 1075, 1144, 1176, 1215, 1255, 1259, 1315, 1323, 1410, 1476, 1498, 1515, 1619, 1649, 1670, 1808, 1811, 1837, 1846, 1867, 1912, 2054, 2076, 2103, 2137, 2225, 2252, 2614, 2629, 2713, 2715, 2719, 2770, 2810, 2814, 2844, 2851, 2854, 2865, 2869, 3025, 3144, 3160, 3167, 3171, 3270], 'NJ': [2, 39, 70, 89, 116, 132, 240, 251, 422, 527, 556, 626, 633, 693, 727, 734, 768, 787, 910, 946, 962, 966, 1086, 1102, 1105, 1156, 1205, 1268, 1381, 1409, 1431, 1479, 1529, 1585, 1595, 1629, 1721, 1739, 1757, 1766, 1802, 1903, 1916, 1925, 2032, 2033, 2065, 2113, 2293, 2380, 2413, 2523, 2526, 2585, 2660, 2667, 2724, 2730, 2731, 2773, 2840, 2873, 3000, 3034, 3126, 3136, 3248, 3279], 'NM': [72, 107, 172, 185, 249, 262, 357, 371, 420, 436, 447, 504, 518, 554, 582, 604, 733, 749, 818, 968, 1059, 1193, 1408, 1419, 1425, 1521, 1607, 1612, 1697, 1730, 1765, 1857, 1894, 1910, 1917, 1920, 1962, 2130, 2145, 2179, 2186, 2286, 2312, 2333, 2385, 2436, 2440, 2504, 2630, 2664, 2733, 2818, 2835, 2838, 2860, 2911, 2956, 3044, 3147, 3152, 3177, 3250], 'NV': [73, 117, 124, 139, 233, 241, 411, 419, 463, 465, 471, 481, 613, 759, 792, 841, 857, 867, 926, 944, 957, 984, 988, 989, 995, 1047, 1069, 1133, 1168, 1220, 1250, 1275, 1333, 1404, 1416, 1450, 1483, 1489, 1513, 1523, 1674, 1709, 1736, 1843, 1943, 1976, 1995, 2026, 2052, 2094, 2160, 2171, 2237, 2275, 2290, 2376, 2498, 2686, 2768, 2876, 2908, 2969, 3028, 3059, 3071, 3161], 'NY': [15, 77, 136, 182, 186, 373, 530, 539, 551, 597, 650, 678, 754, 964, 985, 994, 1007, 1011, 1013, 1044, 1065, 1073, 1077, 1110, 1124, 1148, 1278, 1309, 1366, 1390, 1492, 1510, 1633, 1668, 1752, 1774, 1794, 1872, 1875, 1905, 1930, 1959, 1965, 2002, 2005, 2021, 2057, 2100, 2105, 2161, 2170, 2192, 2201, 2327, 2336, 2369, 2390, 2401, 2402, 2435, 2450, 2513, 2581, 2600, 2652, 2803, 2857, 2881, 2925, 2959, 2981, 2987, 3012, 3081, 3086, 3110, 3129, 3176, 3219, 3227, 3257, 3275, 3310], 'OH': [1, 3, 152, 156, 231, 362, 384, 404, 437, 454, 462, 506, 599, 808, 816, 866, 870, 930, 939, 973, 1014, 1060, 1080, 1115, 1201, 1238, 1287, 1376, 1389, 1418, 1468, 1471, 1504, 1528, 1545, 1627, 1710, 1758, 1770, 1787, 1791, 1821, 1822, 1831, 1862, 1890, 1897, 2048, 2049, 2123, 2131, 2141, 2177, 2196, 2224, 2229, 2251, 2372, 2452, 2471, 2488, 2511, 2594, 2656, 2753, 2904, 2907, 2922, 2950, 2982, 3005, 3008, 3209, 3249, 3251, 3286, 3325, 3326], 'OK': [4, 34, 59, 154, 164, 194, 224, 232, 271, 289, 364, 381, 517, 525, 533, 549, 588, 592, 643, 872, 932, 1003, 1049, 1119, 1241, 1331, 1363, 1392, 1526, 1650, 1679, 1693, 1876, 1887, 1927, 2008, 2023, 2029, 2175, 2304, 2398, 2582, 2583, 2602, 2653, 2659, 2688, 2718, 2736, 2757, 2916, 2936, 3116, 3192, 3214, 3233, 3247, 3266, 3277, 3307, 3318], 'OR': [45, 81, 173, 207, 250, 323, 338, 382, 397, 410, 414, 429, 532, 538, 577, 612, 666, 724, 755, 774, 842, 943, 974, 979, 1006, 1052, 1055, 1163, 1195, 1229, 1284, 1289, 1294, 1482, 1534, 1608, 1691, 1702, 1777, 1816, 1819, 1827, 1840, 1938, 2003, 2013, 2069, 2209, 2228, 2279, 2291, 2295, 2375, 2378, 2464, 2539, 2574, 2616, 2675, 2684, 2685, 2704, 2824, 2887, 2891, 2946, 2964, 2986, 2993, 3024, 3066, 3117, 3173, 3196, 3228, 3245, 3260, 3276], 'PA': [212, 270, 274, 393, 434, 581, 591, 610, 766, 785, 823, 918, 952, 1068, 1071, 1130, 1248, 1346, 1370, 1474, 1539, 1685, 1690, 1692, 1696, 1782, 1849, 1933, 2000, 2082, 2203, 2284, 2301, 2350, 2432, 2521, 2545, 2727, 2745, 2886, 2944, 2997, 3111, 3130, 3203], 'RI': [11, 149, 153, 209, 246, 266, 302, 308, 317, 408, 461, 493, 541, 545, 561, 606, 701, 853, 921, 1037, 1039, 1046, 1062, 1096, 1253, 1258, 1282, 1427, 1469, 1477, 1610, 1611, 1624, 1737, 1932, 1958, 1963, 1978, 2016, 2070, 2125, 2189, 2191, 2235, 2245, 2253, 2373, 2489, 2531, 2535, 2633, 2666, 2690, 2707, 2764, 2815, 2822, 2842, 3004, 3041, 3158, 3255, 3264, 3293, 3330], 'SC': [23, 160, 245, 263, 336, 344, 359, 433, 521, 687, 832, 969, 990, 1016, 1180, 1285, 1373, 1461, 1502, 1550, 1621, 1664, 1712, 1724, 1844, 1883, 1977, 1983, 2024, 2150, 2227, 2388, 2389, 2400, 2423, 2492, 2542, 2647, 2671, 2681, 2700, 2755, 2781, 2839, 2879, 2909, 2930, 2941, 2967, 3050, 3068, 3090, 3143, 3149, 3174, 3221, 3288, 3300, 3312, 3327], 'SD': [63, 236, 277, 285, 309, 319, 375, 380, 418, 452, 500, 575, 584, 661, 714, 786, 1082, 1092, 1307, 1345, 1369, 1386, 1413, 1443, 1552, 1574, 1583, 1655, 1660, 1793, 1801, 1817, 1885, 1889, 1969, 1982, 2014, 2020, 2028, 2047, 2061, 2399, 2431, 2617, 2636, 2800, 2808, 2826, 2843, 2896, 2962, 3057, 3087, 3093, 3197, 3216, 3239, 3240, 3262, 3317], 'TN': [196, 221, 395, 710, 725, 763, 971, 993, 1001, 1114, 1134, 1186, 1191, 1240, 1256, 1264, 1312, 1325, 1328, 1432, 1490, 1616, 1640, 1642, 1652, 1683, 1761, 1792, 1863, 1928, 1984, 2066, 2104, 2258, 2278, 2343, 2455, 2467, 2478, 2522, 2525, 2557, 2569, 2598, 2620, 2628, 2761, 2888, 3122, 3210, 3289, 3295, 3332], 'TX': [19, 69, 84, 121, 128, 133, 191, 197, 254, 257, 311, 396, 409, 445, 446, 536, 557, 586, 625, 630, 679, 753, 919, 938, 980, 1045, 1137, 1160, 1171, 1239, 1251, 1306, 1338, 1355, 1398, 1547, 1618, 1699, 1731, 1759, 1781, 1796, 1825, 1866, 1879, 1950, 1960, 2001, 2009, 2038, 2114, 2118, 2185, 2193, 2213, 2298, 2351, 2407, 2444, 2474, 2626, 2735, 2821, 2870, 2951, 2954, 2960, 3019, 3036, 3072, 3076, 3168], 'UT': [53, 68, 109, 147, 259, 402, 460, 476, 485, 537, 553, 615, 721, 736, 740, 757, 817, 907, 927, 1027, 1031, 1048, 1083, 1142, 1166, 1212, 1225, 1257, 1283, 1299, 1365, 1395, 1434, 1453, 1454, 1466, 1487, 1516, 1577, 1581, 1658, 1667, 1914, 2053, 2120, 2153, 2176, 2188, 2210, 2263, 2266, 2287, 2309, 2325, 2500, 2508, 2609, 2623, 2676, 2693, 2884, 2917, 2919, 2932, 2945, 2974, 2978, 3016, 3162, 3179, 3222, 3281], 'VA': [18, 24, 52, 157, 161, 184, 228, 244, 312, 322, 324, 345, 512, 618, 641, 658, 713, 797, 899, 900, 920, 1030, 1093, 1123, 1128, 1303, 1308, 1324, 1326, 1367, 1400, 1414, 1426, 1452, 1459, 1587, 1648, 1657, 1671, 1728, 1738, 1828, 1891, 1936, 1941, 1970, 1991, 2064, 2139, 2144, 2156, 2162, 2206, 2292, 2314, 2352, 2365, 2382, 2448, 2481, 2510, 2514, 2524, 2592, 2662, 2663, 2741, 2766, 2793, 2825, 2988, 2996, 3009, 3038, 3061, 3091, 3109], 'VT': [17, 85, 102, 143, 144, 279, 306, 347, 488, 510, 547, 560, 628, 663, 791, 838, 840, 890, 896, 906, 942, 951, 970, 978, 1002, 1035, 1126, 1165, 1173, 1194, 1200, 1292, 1348, 1359, 1368, 1375, 1377, 1383, 1397, 1439, 1495, 1564, 1576, 1602, 1609, 1672, 1678, 1694, 1700, 1753, 1898, 1900, 1909, 2046, 2056, 2127, 2140, 2250, 2276, 2363, 2456, 2506, 2507, 2547, 2553, 2593, 2702, 2778, 2994, 3131, 3261, 3309, 3321], 'WA': [65, 146, 189, 204, 220, 275, 337, 459, 616, 697, 745, 803, 814, 850, 874, 1146, 1188, 1207, 1302, 1310, 1314, 1318, 1339, 1350, 1352, 1424, 1440, 1518, 1582, 1676, 1733, 1760, 1842, 1860, 1888, 1904, 1919, 1945, 1953, 1975, 2036, 2093, 2121, 2187, 2199, 2233, 2241, 2311, 2404, 2469, 2487, 2527, 2530, 2543, 2556, 2789, 2924, 3002, 3067, 3148, 3189, 3199, 3202, 3206, 3238, 3268], 'WI': [44, 58, 292, 294, 346, 388, 394, 405, 444, 519, 546, 572, 589, 648, 694, 771, 782, 793, 813, 858, 878, 903, 922, 1100, 1178, 1230, 1311, 1319, 1321, 1354, 1380, 1401, 1437, 1480, 1580, 1625, 1631, 1643, 1654, 1734, 1744, 1775, 1788, 1826, 1855, 1873, 1892, 1940, 1949, 1967, 1986, 2041, 2072, 2102, 2157, 2243, 2357, 2411, 2412, 2529, 2680, 2695, 2701, 2758, 2769, 2772, 2777, 2817, 2867, 2965, 3104, 3165, 3213, 3220, 3232, 3271, 3278, 3303], 'WV': [9, 80, 87, 180, 243, 265, 390, 473, 499, 520, 574, 594, 602, 646, 670, 681, 700, 715, 726, 767, 781, 806, 820, 905, 931, 967, 1019, 1021, 1057, 1101, 1132, 1210, 1291, 1362, 1429, 1430, 1444, 1499, 1503, 1538, 1566, 1567, 1603, 1644, 1663, 1675, 1707, 1726, 1749, 1797, 1841, 1874, 1915, 2136, 2168, 2200, 2219, 2234, 2262, 2272, 2294, 2302, 2318, 2339, 2381, 2403, 2426, 2468, 2476, 2573, 2615, 2669, 2706, 2710, 2716, 2725, 2742, 2799, 2811, 2831, 2832, 2833, 2846, 2859, 2877, 2910, 2955, 2966, 2975, 3003, 3013, 3027, 3032, 3074, 3079, 3089, 3115, 3135, 3182, 3185, ...], 'WY': [26, 49, 54, 66, 188, 238, 273, 321, 438, 562, 608, 609, 653, 668, 711, 730, 731, 756, 762, 856, 880, 883, 898, 916, 1018, 1064, 1076, 1108, 1136, 1265, 1335, 1337, 1361, 1422, 1423, 1533, 1628, 1673, 1689, 1751, 1763, 1776, 1832, 1847, 1929, 1999, 2086, 2117, 2138, 2148, 2154, 2178, 2240, 2256, 2368, 2374, 2392, 2396, 2439, 2461, 2463, 2538, 2650, 2670, 2679, 2729, 2739, 2775, 2819, 2850, 2874, 2912, 2915, 2952, 3172, 3258, 3319]}

In [14]:
df.groupby('State').get_group('OH')

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
152,OH,65,408,336-7600,no,no,0,187.9,116,31.94,...,117,13.40,227.3,86,10.23,7.5,6,2.03,1,False.
156,OH,83,415,370-9116,no,no,0,337.4,120,57.36,...,116,19.33,153.9,114,6.93,15.8,7,4.27,0,True.
231,OH,63,415,410-3719,yes,yes,36,199.0,110,33.83,...,111,24.76,197.6,92,8.89,11.0,6,2.97,1,False.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3249,OH,160,415,337-9326,no,no,0,206.3,66,35.07,...,109,20.49,227.8,102,10.25,11.7,6,3.16,0,False.
3251,OH,88,408,354-3040,no,no,0,274.6,105,46.68,...,121,13.69,194.4,123,8.75,9.2,4,2.48,2,False.
3286,OH,106,415,352-2270,no,yes,30,220.1,105,37.42,...,109,18.89,158.4,96,7.13,13.1,8,3.54,0,False.
3325,OH,78,408,368-8555,no,no,0,193.4,99,32.88,...,88,9.94,243.3,109,10.95,9.3,4,2.51,2,False.
3326,OH,96,415,347-6812,no,no,0,106.6,128,18.12,...,87,24.21,178.9,92,8.05,14.9,7,4.02,1,False.

In [15]:
df.groupby(['State', 'VMail Plan']).groups

{('AK', 'no'): [95, 181, 339, 350, 353, 505, 550, 657, 684, 718, 719, 812, 950, 1024, 1054, 1094, 1162, 1224, 1417, 1589, 1803, 1987, 2071, 2083, 2101, 2270, 2367, 2418, 2475, 2571, 2627, 2807, 2929, 3137, 3241, 3283], ('AK', 'yes'): [36, 38, 138, 282, 953, 1260, 1342, 1682, 1884, 2222, 2265, 2269, 2752, 2902, 3088, 3236], ('AL', 'no'): [5, 112, 135, 169, 219, 239, 288, 332, 450, 491, 497, 531, 590, 788, 805, 822, 843, 859, 934, 949, 1015, 1090, 1104, 1129, 1152, 1274, 1428, 1464, 1613, 1662, 1780, 1839, 1902, 2081, 2135, 2155, 2172, 2180, 2317, 2329, 2334, 2446, 2595, 2634, 2644, 2699, 2738, 2748, 2749, 2827, 2845, 2939, 3017, 3048, 3058, 3078, 3128, 3139, 3180], ('AL', 'yes'): [272, 278, 326, 469, 514, 540, 750, 776, 958, 1026, 1131, 1661, 1767, 2212, 2348, 2494, 2601, 2858, 2992, 3095, 3306], ('AR', 'no'): [42, 92, 134, 178, 297, 352, 475, 585, 696, 911, 960, 1023, 1226, 1484, 1536, 1543, 1601, 1639, 1786, 1998, 2146, 2183, 2216, 2283, 2321, 2490, 2528, 2550, 2558, 2606, 2625, 2895, 2976, 3084, 3112, 3157, 3166, 3225, 3243, 3256, 3280], ('AR', 'yes'): [351, 440, 442, 652, 956, 1320, 1596, 1823, 1829, 2006, 2268, 2786, 2878, 3120], ('AZ', 'no'): [22, 33, 94, 97, 105, 114, 125, 187, 211, 248, 304, 329, 374, 417, 428, 456, 478, 598, 717, 891, 965, 1235, 1262, 1329, 1357, 1385, 1399, 1475, 1501, 1635, 1718, 1719, 1870, 1939, 1988, 2078, 2326, 2408, 2491, 2841, 2890, 3047, 3099, 3153, 3186], ('AZ', 'yes'): [168, 213, 348, 468, 566, 790, 796, 799, 1298, 1555, 1573, 1899, 2512, 2812, 2995, 3101, 3235, 3284, 3328], ('CA', 'no'): [131, 356, 372, 655, 765, 954, 1038, 1158, 1290, 1562, 2004, 2115, 2119, 2167, 2344, 2419, 2499, 2744, 2779, 2913, 3053, 3290, 3301], ('CA', 'yes'): [61, 496, 654, 862, 1174, 1524, 1532, 2217, 2437, 2861, 2906], ('CO', 'no'): [21, 56, 170, 190, 360, 365, 559, 659, 673, 689, 706, 830, 876, 888, 908, 1141, 1231, 1304, 1449, 1462, 1465, 1553, 1637, 1681, 1735, 1772, 1805, 1812, 1856, 1911, 1996, 2095, 2097, 2242, 2247, 2282, 2395, 2410, 2421, 2533, 2534, 2554, 2746, 2809, 2998, 3021, 3064], ('CO', 'yes'): [57, 82, 108, 578, 635, 644, 685, 752, 1154, 1179, 1778, 1973, 2473, 2642, 2648, 2927, 3011, 3075, 3096], ('CT', 'no'): [386, 651, 864, 901, 1033, 1040, 1153, 1301, 1313, 1364, 1372, 1384, 1387, 1486, 1519, 1549, 1565, 1586, 1592, 1606, 1615, 1651, 1687, 1764, 1804, 1830, 1880, 1924, 2058, 2089, 2091, 2134, 2214, 2273, 2316, 2349, 2384, 2386, 2536, 2657, 2683, 2703, 2872, 2889, 2894, 2898, 2968, 3133, 3170, 3191, 3200, 3296, 3331], ('CT', 'yes'): [290, 293, 548, 564, 579, 671, 707, 720, 1209, 1456, 1645, 1686, 2110, 2129, 2211, 2248, 2364, 2897, 3063, 3154, 3231], ('DC', 'no'): [76, 90, 167, 199, 256, 296, 376, 399, 529, 621, 624, 709, 735, 937, 1185, 1542, 1746, 2067, 2068, 2277, 2415, 2454, 2502, 2566, 2579, 2596, 2658, 2682, 2691, 2712, 2762, 2928, 2934, 2935, 3039, 3263], ('DC', 'yes'): [424, 458, 614, 839, 886, 897, 1025, 1199, 1579, 1835, 1906, 2181, 2520, 2559, 2641, 3106, 3207, 3282], ('DE', 'no'): [47, 113, 140, 201, 284, 333, 361, 407, 415, 416, 570, 627, 639, 674, 795, 824, 884, 940, 975, 1034, 1089, 1169, 1322, 1491, 1531, 1641, 1784, 1818, 1854, 1858, 1921, 1931, 1961, 1990, 2022, 2208, 2220, 2306, 2480, 2599, 2743, 2836, 3103, 3114, 3142, 3181], ('DE', 'yes'): [165, 513, 809, 1004, 1107, 1467, 1558, 1703, 2194, 2409, 2892, 2903, 3062, 3198, 3234], ('FL', 'no'): [20, 137, 214, 216, 217, 301, 330, 349, 441, 495, 576, 617, 802, 811, 827, 834, 877, 882, 1009, 1087, 1117, 1157, 1448, 1517, 1556, 1698, 1704, 1848, 2158, 2198, 2221, 2239, 2249, 2300, 2323, 2332, 2345, 2356, 2460, 2651, 2665, 2864, 3010], ('FL', 'yes'): [159, 255, 466, 501, 573, 742, 764, 845, 986, 1042, 1187, 1198, 1269, 1277, 1470, 1665, 2254, 2257, 2540, 3077], ('GA', 'no'): [40, 340, 448, 483, 484, 552, 629, 835, 881, 959, 1017, 1058, 1150, 1177, 1249, 1295, 1447, 1488, 1680, 1789, 1922, 2043, 2132, 2264, 2417, 2445, 2578, 2580, 2584, 2942, 2953, 3098, 3107, 3121, 3320], ('GA', 'yes'): [35, 83, 166, 316, 327, 400, 477, 665, 669, 716, 798, 807, 913, 977, 1382, 1795, 2106, 2274, 2322], ('HI', 'no'): [29, 74, 276, 480, 705, 794, 828, 860, 902, 917, 929, 1063, 1099, 1340, 1360, 1394, 1457, 1478, 1511, 1540, 1578, 1720, 1742, 1762, 1923, 1934, 2459, 2638, 2705, 2740, 2796, 2801, 2830, 2885, 2940, 2979, 2983, 3113], ('HI', 'yes'): [595, 875, 1020, 1151, 1189, 1297, 1732, 1882, 1895, 1944, 2152, 2441, 2453, 2723, 3108], ('IA', 'no'): [12, 14, 50, 150, 303, 328, 489, 699, 855, 887, 912, 941, 1113, 1234, 1266, 1300, 1356, 1494, 1527, 1530, 1605, 2031, 2035, 2085, 2261, 2416, 2661, 2677, 2856, 3125, 3193, 3308], ('IA', 'yes'): [100, 162, 227, 1175, 1206, 1838, 2040, 2149, 2561, 2570, 2632, 2783], ('ID', 'no'): [43, 48, 60, 99, 119, 234, 314, 401, 479, 528, 563, 772, 948, 1095, 1109, 1112, 1145, 1237, 1293, 1327, 1463, 1500, 1525, 1554, 1617, 1695, 1886, 1979, 2011, 2223, 2232, 2427, 2434, 2438, 2449, 2611, 2737, 2791, 2816, 3169, 3190, 3204, 3211, 3265, 3313], ('ID', 'yes'): [16, 318, 449, 515, 708, 879, 1135, 1223, 1332, 1445, 1705, 1708, 1711, 2018, 2075, 2109, 2182, 2184, 2340, 2383, 2405, 2442, 2479, 2483, 2847, 2963, 2990, 3195], ('IL', 'no'): [30, 237, 261, 398, 406, 472, 524, 642, 672, 826, 849, 996, 1116, 1139, 1204, 1233, 1473, 1571, 1833, 1859, 1913, 1946, 1947, 2012, 2051, 2169, 2308, 2371, 2414, 2501, 2517, 2549, 2565, 2607, 2674, 2692, 2760, 2933, 3001, 3056, 3155, 3229, 3304], ('IL', 'yes'): [342, 836, 1286, 1341, 1378, 1435, 1591, 1783, 2027, 2310, 2347, 2622, 2717, 2820, 3254], ('IN', 'no'): [10, 51, 55, 86, 104, 206, 225, 242, 247, 295, 307, 487, 490, 568, 580, 677, 732, 833, 1032, 1170, 1196, 1267, 1388, 1599, 1871, 1893, 1993, 2025, 2073, 2126, 2205, 2303, 2330, 2360, 2394, 2465, 2472, 2503, 2759, 2780, 2782, 2834, 2849, 2866, 2926, 2985, 3140, 3156, 3224, 3273, 3274, 3292, 3323], ('IN', 'yes'): [343, 383, 423, 1041, 1088, 1183, 1451, 1815, 1937, 2260, 2331, 2484, 2608, 2754, 2776, 3069, 3102, 3305], ('KS', 'no'): [179, 258, 287, 368, 379, 385, 430, 619, 620, 636, 680, 690, 702, 738, 783, 852, 1028, 1043, 1056, 1103, 1155, 1159, 1167, 1219, 1232, 1279, 1334, 1593, 1622, 1677, 1747, 1997, 2059, 2124, 2159, 2163, 2173, 2236, 2244, 2338, 2562, 2645, 2689, 2750, 2756, 2880, 2931, 2980, 2984, 3244, 3285], ('KS', 'yes'): [0, 451, 508, 987, 1066, 1127, 1218, 1228, 1824, 1852, 1971, 2030, 2096, 2805, 2914, 2943, 3217, 3253, 3287], ('KY', 'no'): [103, 192, 403, 457, 611, 722, 737, 747, 815, 924, 933, 976, 1084, 1120, 1403, 1632, 1666, 1684, 1790, 1810, 1813, 1814, 1853, 1878, 1896, 1957, 1968, 1980, 2296, 2328, 2358, 2433, 2493, 2509, 2541, 2567, 2612, 2923, 2948, 2999, 3031, 3033, 3183, 3208], ('KY', 'yes'): [88, 229, 335, 522, 1097, 1349, 1520, 1974, 2231, 2422, 2425, 2640, 2767, 2937, 2961], ('LA', 'no'): [8, 32, 91, 148, 155, 174, 210, 215, 534, 623, 675, 743, 748, 972, 1022, 1067, 1216, 1305, 1351, 1415, 1779, 1948, 2055, 2112, 2197, 2324, 2341, 2346, 2518, 2722, 2804, 3014, 3060, 3138, 3145, 3178, 3302, 3311], ('LA', 'yes'): [453, 758, 778, 892, 1140, 1203, 1227, 1446, 1496, 2458, 2610, 2875, 3022], ('MA', 'no'): [37, 101, 111, 269, 313, 315, 320, 369, 391, 425, 455, 486, 601, 676, 773, 851, 871, 873, 961, 1118, 1138, 1172, 1247, 1288, 1344, 1514, 1561, 1572, 1701, 1723, 1864, 1992, 2099, 2143, 2226, 2361, 2477, 2546, 2698, 2806, 2868, 2883, 2918, 3042, 3100, 3230], ('MA', 'yes'): [6, 1263, 1594, 1659, 1836, 1861, 1908, 2429, 2516, 2853, 2862, 2893, 2899, 3015, 3029, 3065, 3123, 3141, 3242], ('MD', 'no'): [79, 122, 202, 208, 218, 230, 300, 367, 392, 467, 482, 494, 567, 865, 868, 895, 904, 935, 1149, 1182, 1192, 1343, 1458, 1472, 1505, 1506, 1548, 1638, 1653, 1706, 1806, 1868, 1994, 2063, 2116, 2255, 2313, 2337, 2397, 2515, 2551, 2604, 2747, 2784, 2848, 3007, 3040, 3043, 3054, 3070, 3272, 3298, 3322], ('MD', 'yes'): [41, 141, 195, 544, 1396, 1481, 1590, 1935, 2017, 2359, 2430, 2457, 2466, 2485, 2618, 2714, 3175], ('ME', 'no'): [93, 223, 298, 355, 426, 492, 498, 565, 583, 647, 686, 789, 801, 829, 848, 894, 1074, 1078, 1091, 1184, 1252, 1296, 1353, 1442, 1535, 1604, 1623, 1750, 1926, 1981, 2062, 2271, 2447, 2532, 2587, 2654, 2678, 2813, 2863, 3018, 3035, 3097, 3105, 3151, 3226], ('ME', 'yes'): [115, 198, 325, 593, 622, 729, 885, 928, 1217, 1537, 1716, 2019, 2576, 2709, 2774, 3297, 3315], ('MI', 'no'): [46, 110, 145, 163, 177, 203, 286, 432, 439, 502, 526, 600, 603, 723, 739, 746, 1000, 1121, 1272, 1276, 1420, 1433, 1551, 1559, 1717, 1798, 1865, 2007, 2074, 2108, 2218, 2342, 2613, 2624, 2643, 2696, 2708, 2720, 2728, 2751, 2795, 2823, 2882, 2971, 2989, 3030, 3046, 3049, 3080, 3164, 3237, 3252], ('MI', 'yes'): [106, 142, 253, 283, 474, 503, 991, 992, 1143, 1181, 1374, 1436, 1600, 1951, 2060, 2307, 2387, 2588, 2697, 2957, 3291], ('MN', 'no'): [67, 75, 78, 176, 235, 281, 299, 310, 341, 421, 596, 656, 770, 819, 821, 889, 983, 1029, 1070, 1079, 1161, 1214, 1245, 1246, 1281, 1507, 1646, 1688, 1725, 1741, 1745, 1768, 1809, 2077, 2079, 2107, 2207, 2285, 2335, 2406, 2420, 2428, 2560, 2572, 2577, 2586, 2649, 2694, 2785, 2788, 2798, 2852, 2855, 2905, 2920, 2949, 3037, 3045, 3094, 3267], ('MN', 'yes'): [62, 71, 200, 260, 542, 571, 688, 800, 947, 1050, 1147, 1254, 1421, 1509, 1557, 1563, 1636, 2133, 2299, 2497, 2548, 2631, 2687, 3201], ('MO', 'no'): [7, 28, 158, 226, 305, 378, 443, 507, 523, 605, 634, 649, 704, 712, 825, 861, 863, 893, 914, 915, 1111, 1197, 1202, 1379, 1406, 1455, 1546, 1634, 1647, 1713, 1851, 1901, 1942, 2080, 2098, 2165, 2297, 2353, 2519, 2991, 3006, 3083, 3119, 3134, 3294, 3314], ('MO', 'yes'): [118, 205, 268, 751, 784, 854, 963, 981, 1008, 1036, 1072, 1512, 1755, 1785, 1834, 2319, 2621], ('MS', 'no'): [98, 123, 126, 222, 252, 354, 363, 389, 413, 516, 691, 780, 923, 997, 1213, 1336, 1544, 1560, 1597, 1722, 1727, 1869, 1964, 2204, 2215, 2267, 2470, 2486, 2505, 2568, 2575, 2672, 2765, 2787, 2802, 2828, 2900, 3051, 3052, 3082, 3085, 3092, 3146, 3205], ('MS', 'yes'): [127, 509, 728, 955, 1164, 1407, 1669, 1729, 1956, 2039, 2084, 2122, 2195, 2280, 2289, 2366, 2603, 2734, 2790, 2829, 3316], ('MT', 'no'): [13, 27, 96, 193, 280, 331, 334, 558, 631, 660, 667, 695, 744, 769, 775, 804, 1085, 1125, 1221, 1222, 1270, 1273, 1316, 1405, 1460, 1485, 1497, 1584, 1614, 2034, 2050, 2142, 2246, 2315, 2354, 2482, 2544, 2552, 2564, 2589, 2637, 2794, 2977, 3127], ('MT', 'yes'): [435, 638, 645, 703, 1243, 1330, 1412, 1493, 1541, 1575, 1748, 1985, 1989, 2042, 2044, 2128, 2391, 2424, 2496, 2639, 2901, 2972, 3023, 3150], ('NC', 'no'): [64, 264, 366, 370, 543, 760, 761, 925, 945, 999, 1051, 1106, 1261, 1280, 1347, 1393, 1411, 1588, 1626, 1754, 1769, 1845, 1877, 1952, 2010, 2111, 2151, 2164, 2230, 2370, 2443, 2451, 2537, 2555, 2635, 2646, 2726, 2732, 2792, 2797, 2837, 2871, 2958, 3132, 3184, 3223, 3259, 3299], ('NC', 'yes'): [569, 607, 637, 837, 909, 1081, 1244, 1441, 1569, 1715, 1756, 1850, 2090, 2190, 2259, 2281, 2763, 3163, 3218, 3246], ('ND', 'no'): [377, 640, 664, 683, 779, 998, 1005, 1010, 1012, 1098, 1211, 1242, 1358, 1371, 1438, 1522, 1630, 1743, 1799, 1807, 1918, 1954, 1972, 2045, 2088, 2092, 2166, 2174, 2320, 2355, 2362, 2379, 2563, 2591, 2597, 2673, 2721, 2947, 3055, 3159, 3188], ('ND', 'yes'): [464, 632, 777, 844, 847, 982, 1061, 1271, 1598, 1620, 1656, 1740, 1771, 1773, 2377, 2619, 2970, 3020, 3073, 3118, 3124], ('NE', 'no'): [25, 120, 130, 151, 175, 291, 412, 431, 470, 511, 535, 662, 692, 741, 810, 846, 869, 1122, 1190, 1208, 1236, 1402, 1508, 1570, 1714, 1800, 1820, 1881, 1955, 1966, 2015, 2037, 2087, 2147, 2238, 2288, 2305, 2462, 2495, 2655, 2711, 2921, 2938, 2973], ('NE', 'yes'): [129, 358, 555, 682, 936, 1317, 1391, 1568, 1907, 2202, 2393, 2590, 2605, 2668, 2771, 3026, 3194], ('NH', 'no'): [31, 183, 267, 387, 587, 698, 831, 1053, 1075, 1144, 1176, 1215, 1255, 1315, 1323, 1410, 1498, 1515, 1619, 1649, 1808, 1811, 1837, 1912, 2054, 2076, 2103, 2137, 2225, 2252, 2614, 2814, 2844, 2851, 2854, 3144, 3160, 3167, 3171, 3270], ('NH', 'yes'): [171, 427, 1259, 1476, 1670, 1846, 1867, 2629, 2713, 2715, 2719, 2770, 2810, 2865, 2869, 3025], ('NJ', 'no'): [2, 39, 70, 89, 116, 132, 240, 251, 422, 556, 727, 768, 787, 946, 962, 1086, 1102, 1156, 1205, 1268, 1381, 1431, 1529, 1585, 1595, 1629, 1721, 1739, 1757, 1766, 1916, 1925, 2032, 2033, 2065, 2113, 2380, 2413, 2523, 2526, 2585, 2660, 2724, 2731, 2873, 3000, 3126, 3248], ('NJ', 'yes'): [527, 626, 633, 693, 734, 910, 966, 1105, 1409, 1479, 1802, 1903, 2293, 2667, 2730, 2773, 2840, 3034, 3136, 3279], ('NM', 'no'): [72, 172, 185, 262, 371, 436, 447, 504, 518, 554, 582, 604, 749, 818, 1059, 1408, 1419, 1425, 1521, 1612, 1697, 1730, 1765, 1857, 1894, 1910, 1917, 1920, 1962, 2130, 2145, 2186, 2312, 2333, 2385, 2436, 2440, 2504, 2630, 2733, 2818, 2860, 2911, 2956, 3044, 3147, 3152, 3250], ('NM', 'yes'): [107, 249, 357, 420, 733, 968, 1193, 1607, 2179, 2286, 2664, 2835, 2838, 3177], ('NV', 'no'): [73, 117, 124, 233, 241, 411, 419, 463, 465, 471, 481, 841, 857, 867, 926, 957, 984, 988, 989, 995, 1047, 1069, 1133, 1168, 1220, 1250, 1416, 1450, 1483, 1489, 1513, 1523, 1674, 1709, 1736, 1843, 1943, 2026, 2052, 2094, 2160, 2171, 2237, 2275, 2290, 2376, 2498, 2876, 2908, 2969, 3028, 3161], ('NV', 'yes'): [139, 613, 759, 792, 944, 1275, 1333, 1404, 1976, 1995, 2686, 2768, 3059, 3071], ('NY', 'no'): [15, 77, 186, 373, 539, 551, 597, 650, 678, 754, 985, 1007, 1011, 1013, 1044, 1073, 1077, 1110, 1124, 1148, 1278, 1309, 1366, 1390, 1492, 1510, 1633, 1668, 1752, 1774, 1794, 1872, 1875, 1905, 1930, 1965, 2002, 2005, 2105, 2161, 2170, 2192, 2201, 2327, 2369, 2390, 2401, 2450, 2513, 2581, 2600, 2652, 2803, 2857, 2925, 2959, 2981, 2987, 3012, 3081, 3086, 3176, 3227, 3257, 3310], ('NY', 'yes'): [136, 182, 530, 964, 994, 1065, 1959, 2021, 2057, 2100, 2336, 2402, 2435, 2881, 3110, 3129, 3219, 3275], ('OH', 'no'): [3, 152, 156, 384, 404, 437, 454, 816, 870, 930, 939, 973, 1014, 1060, 1080, 1115, 1287, 1376, 1389, 1471, 1504, 1528, 1627, 1710, 1758, 1770, 1791, 1822, 1862, 1890, 2123, 2177, 2224, 2251, 2372, 2452, 2488, 2511, 2594, 2656, 2753, 2904, 2907, 2922, 2950, 2982, 3005, 3249, 3251, 3325, 3326], ('OH', 'yes'): [1, 231, 362, 462, 506, 599, 808, 866, 1201, 1238, 1418, 1468, 1545, 1787, 1821, 1831, 1897, 2048, 2049, 2131, 2141, 2196, 2229, 2471, 3008, 3209, 3286], ('OK', 'no'): [4, 59, 154, 164, 224, 232, 271, 289, 364, 381, 517, 525, 588, 592, 643, 932, 1049, 1119, 1241, 1331, 1392, 1679, 1876, 1927, 2023, 2029, 2175, 2398, 2582, 2583, 2602, 2659, 2688, 2718, 2757, 2916, 2936, 3116, 3214, 3233, 3247, 3277, 3307, 3318], ('OK', 'yes'): [34, 194, 533, 549, 872, 1003, 1363, 1526, 1650, 1693, 1887, 2008, 2304, 2653, 2736, 3192, 3266], ('OR', 'no'): [81, 173, 207, 323, 338, 382, 397, 410, 414, 429, 538, 577, 612, 666, 755, 774, 842, 943, 979, 1006, 1052, 1055, 1195, 1229, 1284, 1289, 1294, 1482, 1534, 1691, 1702, 1777, 1816, 1827, 2003, 2013, 2069, 2209, 2228, 2279, 2291, 2295, 2375, 2378, 2574, 2675, 2684, 2685, 2704, 2824, 2891, 2964, 2993, 3024, 3066, 3117, 3173, 3196, 3228, 3245, 3260], ('OR', 'yes'): [45, 250, 532, 724, 974, 1163, 1608, 1819, 1840, 1938, 2464, 2539, 2616, 2887, 2946, 2986, 3276], ('PA', 'no'): [270, 393, 591, 610, 766, 785, 918, 952, 1068, 1071, 1130, 1248, 1346, 1370, 1474, 1539, 1685, 1692, 1696, 1782, 1849, 1933, 2000, 2203, 2284, 2301, 2350, 2432, 2521, 2545, 2727, 2886, 2944], ('PA', 'yes'): [212, 274, 434, 581, 823, 1690, 2082, 2745, 2997, 3111, 3130, 3203], ('RI', 'no'): [11, 153, 209, 302, 308, 408, 461, 606, 701, 853, 921, 1037, 1039, 1046, 1096, 1253, 1258, 1282, 1427, 1477, 1610, 1624, 1737, 1932, 1958, 1963, 1978, 2016, 2070, 2189, 2191, 2253, 2373, 2489, 2531, 2535, 2633, 2666, 2690, 2707, 2822, 3004, 3041, 3158, 3255, 3293, 3330], ('RI', 'yes'): [149, 246, 266, 317, 493, 541, 545, 561, 1062, 1469, 1611, 2125, 2235, 2245, 2764, 2815, 2842, 3264], ('SC', 'no'): [23, 160, 245, 263, 336, 433, 521, 687, 832, 969, 1016, 1180, 1373, 1461, 1550, 1712, 1724, 1977, 2150, 2227, 2388, 2389, 2423, 2492, 2542, 2647, 2671, 2681, 2700, 2755, 2781, 2839, 2909, 2930, 3050, 3090, 3143, 3149, 3221, 3288, 3312, 3327], ('SC', 'yes'): [344, 359, 990, 1285, 1502, 1621, 1664, 1844, 1883, 1983, 2024, 2400, 2879, 2941, 2967, 3068, 3174, 3300], ('SD', 'no'): [309, 380, 452, 584, 786, 1082, 1092, 1307, 1345, 1369, 1443, 1552, 1655, 1660, 1793, 1801, 1817, 1885, 1889, 1982, 2014, 2020, 2028, 2047, 2399, 2617, 2636, 2800, 2826, 2843, 2896, 2962, 3057, 3087, 3093, 3197, 3240, 3262, 3317], ('SD', 'yes'): [63, 236, 277, 285, 319, 375, 418, 500, 575, 661, 714, 1386, 1413, 1574, 1583, 1969, 2061, 2431, 2808, 3216, 3239], ('TN', 'no'): [196, 710, 725, 971, 993, 1001, 1134, 1191, 1256, 1264, 1312, 1328, 1432, 1490, 1616, 1640, 1642, 1792, 1863, 1928, 1984, 2104, 2258, 2278, 2343, 2455, 2467, 2522, 2525, 2557, 2569, 2598, 2620, 2628, 2761, 3122, 3210, 3289, 3295], ('TN', 'yes'): [221, 395, 763, 1114, 1186, 1240, 1325, 1652, 1683, 1761, 2066, 2478, 2888, 3332], ('TX', 'no'): [19, 69, 84, 128, 133, 191, 197, 254, 257, 396, 409, 445, 446, 586, 625, 630, 679, 753, 919, 938, 980, 1045, 1171, 1239, 1251, 1306, 1338, 1547, 1699, 1731, 1796, 1825, 1866, 1879, 1950, 1960, 2001, 2009, 2038, 2114, 2118, 2185, 2193, 2213, 2298, 2351, 2821, 2870, 2951, 2954, 2960, 3019, 3036, 3072, 3076, 3168], ('TX', 'yes'): [121, 311, 536, 557, 1137, 1160, 1355, 1398, 1618, 1759, 1781, 2407, 2444, 2474, 2626, 2735], ('UT', 'no'): [53, 68, 109, 147, 259, 460, 476, 553, 736, 757, 817, 1027, 1031, 1048, 1083, 1142, 1166, 1212, 1225, 1257, 1283, 1299, 1365, 1395, 1466, 1516, 1577, 1658, 1667, 2053, 2120, 2153, 2176, 2188, 2210, 2287, 2309, 2325, 2623, 2676, 2693, 2884, 2917, 2919, 2932, 2945, 2974, 2978, 3016, 3162, 3179, 3281], ('UT', 'yes'): [402, 485, 537, 615, 721, 740, 907, 927, 1434, 1453, 1454, 1487, 1581, 1914, 2263, 2266, 2500, 2508, 2609, 3222], ('VA', 'no'): [24, 52, 161, 184, 244, 312, 322, 324, 345, 512, 618, 641, 658, 713, 797, 920, 1093, 1303, 1308, 1324, 1326, 1367, 1400, 1414, 1452, 1459, 1587, 1648, 1657, 1671, 1828, 1891, 1936, 1941, 1970, 1991, 2064, 2139, 2144, 2156, 2206, 2292, 2352, 2382, 2448, 2481, 2510, 2514, 2524, 2592, 2662, 2663, 2741, 2766, 2825, 2988, 3061, 3091, 3109], ('VA', 'yes'): [18, 157, 228, 899, 900, 1030, 1123, 1128, 1426, 1728, 1738, 2162, 2314, 2365, 2793, 2996, 3009, 3038], ('VT', 'no'): [17, 102, 143, 144, 279, 306, 347, 488, 560, 628, 663, 791, 840, 890, 896, 906, 942, 951, 970, 978, 1035, 1173, 1194, 1292, 1348, 1359, 1368, 1397, 1439, 1564, 1576, 1609, 1672, 1678, 1694, 1753, 1898, 1900, 2046, 2056, 2127, 2140, 2250, 2276, 2363, 2456, 2506, 2507, 2547, 2553, 2593, 2778, 2994, 3131, 3261, 3309, 3321], ('VT', 'yes'): [85, 510, 547, 838, 1002, 1126, 1165, 1200, 1375, 1377, 1383, 1495, 1602, 1700, 1909, 2702], ('WA', 'no'): [146, 189, 204, 220, 275, 337, 459, 697, 803, 850, 874, 1146, 1188, 1302, 1310, 1314, 1318, 1339, 1350, 1424, 1440, 1518, 1582, 1676, 1733, 1760, 1842, 1860, 1888, 1919, 1945, 1953, 1975, 2036, 2093, 2121, 2187, 2199, 2233, 2311, 2404, 2469, 2487, 2527, 2530, 2556, 2924, 3002, 3067, 3148, 3189, 3199, 3202, 3206, 3238, 3268], ('WA', 'yes'): [65, 616, 745, 814, 1207, 1352, 1904, 2241, 2543, 2789], ('WI', 'no'): [44, 58, 292, 388, 394, 405, 444, 519, 546, 572, 694, 793, 813, 878, 903, 922, 1230, 1311, 1319, 1321, 1354, 1380, 1401, 1480, 1631, 1643, 1734, 1826, 1855, 1892, 1940, 1949, 1967, 1986, 2072, 2102, 2157, 2243, 2357, 2411, 2412, 2529, 2695, 2701, 2758, 2769, 2772, 2777, 2817, 2867, 2965, 3213, 3232, 3271, 3278], ('WI', 'yes'): [294, 346, 589, 648, 771, 782, 858, 1100, 1178, 1437, 1580, 1625, 1654, 1744, 1775, 1788, 1873, 2041, 2680, 3104, 3165, 3220, 3303], ('WV', 'no'): [80, 87, 243, 390, 499, 520, 574, 594, 602, 681, 700, 715, 726, 781, 806, 905, 931, 967, 1019, 1021, 1101, 1210, 1362, 1444, 1499, 1538, 1567, 1644, 1663, 1675, 1707, 1726, 1749, 1874, 1915, 2136, 2168, 2200, 2234, 2272, 2294, 2302, 2318, 2339, 2403, 2426, 2476, 2573, 2615, 2669, 2706, 2710, 2725, 2799, 2811, 2831, 2832, 2833, 2846, 2859, 2877, 2910, 2955, 2966, 2975, 3003, 3013, 3032, 3074, 3079, 3115, 3135, 3182, 3185, 3269, 3324, 3329], ('WV', 'yes'): [9, 180, 265, 473, 646, 670, 767, 820, 1057, 1132, 1291, 1429

## Agregación de datos agrupados

In [16]:
df.groupby(['State', 'VMail Plan'])[['Day Mins', 'Day Calls']].sum()

                  Day Mins  Day Calls
State VMail Plan
AK    no            6358.2       3338
      yes           2917.8       1616
AL    no           10733.2       5858
      yes           4147.6       2070
AR    no            6908.4       4168
...                    ...        ...
WI    yes           4260.1       2164
WV    no           13343.3       8224
      yes           5095.5       2777
WY    no           10775.0       6103
      yes           3098.1       1768

[102 rows x 2 columns]

In [17]:
df.groupby(['State', 'VMail Plan'])[['Day Mins', 'Day Calls']].max()

                  Day Mins  Day Calls
State VMail Plan
AK    no             278.4        129
      yes            278.0        128
AL    no             270.0        139
      yes            308.0        135
AR    no             268.0        145
...                    ...        ...
WI    yes            248.6        140
WV    no             312.0        147
      yes            266.7        158
WY    no             296.0        158
      yes            270.3        135

[102 rows x 2 columns]

In [18]:
df.groupby(['State', 'VMail Plan'])[['Day Mins', 'Day Calls']].min()

                  Day Mins  Day Calls
State VMail Plan
AK    no              58.2         55
      yes             75.8         60
AL    no              86.8         62
      yes             68.7         63
AR    no              55.3         56
...                    ...        ...
WI    yes             69.1         54
WV    no              58.0         57
      yes             64.9         40
WY    no              82.7         55
      yes             25.9         45

[102 rows x 2 columns]

In [19]:
df.groupby(['State', 'VMail Plan'])[['Day Mins', 'Day Calls']].count()

                  Day Mins  Day Calls
State VMail Plan
AK    no                36         36
      yes               16         16
AL    no                59         59
      yes               21         21
AR    no                41         41
...                    ...        ...
WI    yes               23         23
WV    no                77         77
      yes               29         29
WY    no                59         59
      yes               18         18

[102 rows x 2 columns]

In [20]:
df.groupby(['State', 'VMail Plan'])[['Day Mins', 'Day Calls']].mean()

                    Day Mins   Day Calls
State VMail Plan
AK    no          176.616667   92.722222
      yes         182.362500  101.000000
AL    no          181.918644   99.288136
      yes         197.504762   98.571429
AR    no          168.497561  101.658537
...                      ...         ...
WI    yes         185.221739   94.086957
WV    no          173.289610  106.805195
      yes         175.706897   95.758621
WY    no          182.627119  103.440678
      yes         172.116667   98.222222

[102 rows x 2 columns]

## Filtrado de datos

In [21]:
df.groupby(['State', 'VMail Plan'])[['Day Mins']].filter(lambda x: x.sum() > 190)

      Day Mins
0        265.1
1        161.6
2        243.4
3        299.4
4        166.7
...        ...
3328     156.2
3329     231.1
3330     180.8
3331     213.8
3332     234.4

[3333 rows x 1 columns]

## Transformación de variables

In [22]:
zscore = lambda x: (x - x.mean()) / x.std()

In [23]:
df.groupby(['State', 'VMail Plan'])[['Day Mins']].transform(zscore)

      Day Mins
0     1.716676
1    -0.465606
2     0.912876
3     1.882759
4    -0.246018
...        ...
3328 -0.099236
3329  1.092481
3330  0.255666
3331  0.611077
3332  0.594044

[3333 rows x 1 columns]