#  Introducción a Python

### 1.1 Tipos y Funciones Predefinidas

Python tiene integrado distintos tipos de datos con los cuales se pueden interacturar. Estos son los más comunes:

| Tipo | Descripción |
| ---- | ----------- |
| ``int`` | Número Entero |
| ``float`` | Número Flotante |
| ``bool`` | Un valor booleano (True or False) |
| ``str`` | Un texto o carácter |
| ``bytes`` | Una secuencia de bytes |
| ``complex`` | Número complejo |
| ``list`` | Una lista de objetos |
| ``tuple`` | Una secuencia de objetos inmutables | 
| ``dict`` | Un diccionario (Key and value pairs) | 
| ``set`` | Un set de objetos |


Python también incluye algunas funciones que pueden ser de utilidad, no es necesario importar librerias para utilizarlas.

| Función | Descripción |
| ---- | ----------- |
| ``abs(x)`` | Valor absoluto de x |
| ``sum(x)`` | Suma de objetos |
| ``max(*args)`` | Valor máximo |
| ``min(*args)`` | Valor mínimo |
| ``len(x)`` | Conteo de objetos |
| ``type(x)`` | Tipo de una variables |
| ``print(*args)`` | Imprimir en pantalla un string

Veamos algunos ejemplos:

In [ ]:
#Enteros

a = 5
type(a)

In [ ]:
#Flotantes

a = 5.6
print(a)

In [ ]:
#Boolean

a = True
b = False

print(type(a))
print(type(b))

In [ ]:
type(a) == str

In [ ]:
#String

a = "hello world"

print(a)

In [ ]:
abs(5)

In [ ]:
min(5,2,6,)

In [ ]:
max(5,8,9,10)

In [ ]:
valor_max = max(3,4,5)
print(valor_max)

In [ ]:
print(len('hello world'))

In [ ]:
help(len)

In [3]:
a = 5
b = 8

In [4]:
valor_max = max(a,b)
print(valor_max)

8

In [6]:
a < b

True


### 1.2 Operaciones Numericas

Python permite realizar distintas operaciones numericas entre los distintos tipos de datos, las más comunes son las siguientes:

| Operación | Significado       |
| --------- | --------------- |
|    +      | Suma            |
|    -      | Resta           |
|    *      | Producto  |
|    /      | División        |
|    \*\*   | Potencia        |

Veamos ejemplos:

### 1.3 Listas

Las listas de Python son un ejemplo de objeto iterable. Se definen usando " [ "     " ] " y pueden tener todo tipo de objetos.

In [21]:
lst = [-1,0,15,2,40,10,-2,1000]

Una de las principales utilidades de las listas (y de casi todos los objetos iterables de Python) es poder extraer objetos a partir de su posición. Nota: Los índices de Python empiezan en 0.

In [9]:
lst[4]

40

In [11]:
lst[-1]

1000

In [12]:
len(lst)

8

In [14]:
lst[2:4]

[15, 2, 40]

In [16]:
lst[6] = 7
lst

[-1, 0, 15, 2, 40, 10, 7, 1000]

In [24]:
lst[2:4] = [5,6,7,8]
lst

[-1, 0, 5, 6, 7, 8, 40, 10, -2, 1000]

In [25]:
lst[1] = 'Manuela'
lst

[-1, 'Manuela', 5, 6, 7, 8, 40, 10, -2, 1000]

In [26]:
len(lst)

10

Si superamos el tamaño de la lista Python va a imprimir un error.

In [23]:
lst[20]

IndexError: list index out of range

Podemos acceder a las últimas posiciones usando indices negativos (-1).

In [27]:
lst[-4]

40

Las listas son modificables.

In [ ]:
lst[2:4] = [5,6,7,8]

Podemos extraer fragmentos de las listas. Esta es una de las utilidades mas poderosas que tiene Python.

In [29]:
lst[::]
lst

[-1, 'Manuela', 5, 6, 7, 8, 40, 10, -2, 1000]

In [30]:
lst[2:] #Desde la posición 2 hasta el final

[5, 6, 7, 8, 40, 10, -2, 1000]

In [31]:
lst[:2] #Desde el inicio hasta la posición 2

[-1, 'Manuela']

Funciona también con valores negativos.

In [32]:
lst[1:-1]

['Manuela', 5, 6, 7, 8, 40, 10, -2]

In [33]:
lst[1:-4]

['Manuela', 5, 6, 7, 8]

También podemos usar la notación [a:b:c] donde c es cada cuantos pasos se quiere.

In [34]:
lst

[-1, 'Manuela', 5, 6, 7, 8, 40, 10, -2, 1000]

In [35]:
lst[::2]

[-1, 5, 7, 40, -2]

In [ ]:
'Manuela', 7, 10

In [39]:
lst[1:5:3]

['Manuela', 7]

Se puede operar con las listas.

In [40]:
[1,2,3] + [4,5]

[1, 2, 3, 4, 5]

In [41]:
[1,2,3] * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [42]:
[1,2,3] - [2,3]

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [48]:
lista1 = [1,2,3,4,5,6,7,8,9,10]
len(lista1)
lista1[8]
lista1.pop(2)
lista1

[1, 2, 4, 5, 6, 7, 8, 9, 10]

In [50]:
lista1 = [1, 2 ,3]

Si queremos **ordenar** una lista (o un objeto iterable) Python tiene dos funciones muy útiles.

**sorted()** : Ordena una lista y genera un nuevo objeto.

In [53]:
lista2 = [5,4,9,8,5,6,2,4,1]
lista3 = sorted(lista2)
lista3

[1, 2, 4, 4, 5, 5, 6, 8, 9]

In [55]:
lista4 = sorted(lista2, reverse = True)
lista4

[9, 8, 6, 5, 5, 4, 4, 2, 1]

In [51]:
help(sorted)

Help on built-in function sorted in module builtins:

sorted(iterable, /, *, key=None, reverse=False)
    Return a new list containing all items from the iterable in ascending order.

    A custom key function can be supplied to customize the sort order, and the
    reverse flag can be set to request the result in descending order.

**lst.sort()** ordena la lista en el objeto inicial. "IN-PLACE"

In [56]:
lista2 = [5,4,9,8,5,6,2,4,1]
lista2.sort()
lista2

[1, 2, 4, 4, 5, 5, 6, 8, 9]

In [57]:
lista2 = [5,4,9,8,5,6,2,4,1]
lista2.sort(reverse = True)
lista2

[9, 8, 6, 5, 5, 4, 4, 2, 1]

### 1.4 Strings

Los strings son listas de carácteres, y como tal con ellos se pueden utilizar algunas de las funciones de las listas y muchas otras más.

In [3]:
fruta = "manzana"
animal = "perro"

Podemos operar con los strings.

In [6]:
fruta + " verde"

'manzana verde'

In [7]:
animal*3

'perroperroperro'

In [9]:
print(fruta+" "+"Manuela "+animal+5)

TypeError: can only concatenate str (not "int") to str

In [13]:
print("A Manuela le gusta la fruta "+ fruta+ " y ella tiene "+str(5)+" años")

A Manuela le gusta la fruta manzana y ella tiene 5 años

In [14]:
print("A Manuela le gusta la fruta ", fruta, " y ella tiene ", 5 ," años")

A Manuela le gusta la fruta  manzana  y ella tiene  5  años

In [17]:
print(5,8,9)

5 8 9

In [20]:
nombre = "Manuela"
#nombre = ['M','a','n','u','e','l','a']

In [21]:
nombre[2]

'n'

In [22]:
nombre[0:3]

'Man'

In [23]:
nombre[:3] #Desde el inicio hasta la posicion 3-1 = 2

'Man'

In [26]:
nombre[5:] #Desde la posición 5 incluyendola hasta el final

'l'

In [29]:
nombre[:] #Desde el inicio hasta el fin

'Manuela'

In [31]:
nombre

'Manuela'

In [33]:
nombre[2] = "aaa"
nombre

TypeError: 'str' object does not support item assignment

A diferencia de las listas, los strings no se pueden editar por índice.

In [34]:

nombre = ['M','a','n','u','e','l','a']
nombre[2] = "aaa"
nombre

['M', 'a', 'aaa', 'u', 'e', 'l', 'a']

In [41]:
nombre = 'Manuela'
print(nombre)
nombre = nombre.replace('n','aaa')
print(nombre)

Manuela
Maaaauela

Mayúsculas

In [ ]:
Manuela Ocampo
MANUELA Ocampo
MANUELA OCAMPO
manuela ocampo

In [45]:
nombre = 'MANUELA Ocampo'
print(nombre)
nombre = nombre.upper()
nombre.upper()

print(nombre)

MANUELA Ocampo
MANUELA OCAMPO

In [44]:
nombre.upper()

'MANUELA OCAMPO'

Minúsculas

In [46]:
nombre = 'MANUELA Ocampo'
nombre.lower()

'manuela ocampo'

Contar

In [51]:
nombre = 'MANUELA Ocampo'
nombre_2 = nombre.upper()
nombre.count('A')
print(nombre)

MANUELA Ocampo

Reemplazar

In [ ]:
nombre = 'Manuela'
print(nombre)
nombre = nombre.replace('n','aaa')
print(nombre)

Separar

In [54]:
texto = "Clase  de Python"
texto_2 = texto.split(" ")
texto_2

['Clase', 'de', 'Python']

In [55]:
texto_2[2]

'Python'

Quitar carácteres en blanco al final

In [58]:
texto = "Clase  de Python"
texto_2 = texto.replace("  ", " ")
texto_2

'Clase de Python'

**Cómo buscar ayuda?**

En python existen las funciones built-in **dir()** y **help()**

**dir()** muestra todas la funciones que se pueden ejecutar con un objeto

**help()** me remite a la documentación de un objeto o una función

In [59]:
lista = [1,2,3,4,5]
dir(lista)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [60]:
help(lista)

Help on list object:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Sort the list in ascending order and return None.
 |
 |      The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
 |      order of two equal elements is maintained).
 |
 |      If a key function is given, apply it once to each list item and sort them,
 |      ascending or descending, according to their function values.
 |
 |      The reverse flag can be set to sort in descending order.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [61]:
lista = [1,2,3,4,5]
lista[5] = 6
lista

IndexError: list assignment index out of range

In [64]:
lista.append(100)

In [68]:
help(lista.append)

Help on built-in function append:

append(object, /) method of builtins.list instance
    Append object to the end of the list.

In [65]:
lista

[1, 2, 3, 4, 5, 6, 100]

## Sets

Colección **no ordenada** de elementos del mismo o distinto tipo (incluso puede tener sets como elementos), que se caracteriza por ser **sin elementos duplicados**.

In [71]:
ciudades = set(("Paris","Lyon","London","Berlin","Paris","Berlin"))
ciudades

{'Berlin', 'London', 'Lyon', 'Paris'}

In [72]:
ciudades = ["Paris","Lyon","London","Berlin","Paris","Berlin"]
ciudades

['Paris', 'Lyon', 'London', 'Berlin', 'Paris', 'Berlin']

Los sets no aceptan objetos mutables, por lo que no se le pueden pasar listas como elementos pero si tuplas.

In [73]:
ciudades = set((["Python","Perl"],["Paris","Berlin"]))

TypeError: unhashable type: 'list'

In [76]:
ciudades = set((("Python","Perl"),("Paris","Berlin")))
ciudades

{('Paris', 'Berlin'), ('Python', 'Perl')}

In [84]:
ciudades = [set(("Madrid","Barcela","Perú")), set(("Colombia","Argentina","colombia"))]
ciudades[1]

{'Argentina', 'Colombia', 'colombia'}

### Diccionarios

In [93]:
personas = {"Nombre": "Camila" , "Edad": 22 , "Cursos": ["Python","R", "SQL"] }
personas

{'Nombre': 'Camila', 'Edad': 22, 'Cursos': ['Python', 'R', 'SQL']}

In [86]:
personas.keys()

dict_keys(['Nombre', 'Edad', 'Cursos'])

In [88]:
personas.values()

dict_values(['Camila', 22, ['Python', 'R', 'SQL']])

In [94]:
personas_2 = personas.copy()
#personas_2 = personas

In [95]:
personas_2

{'Nombre': 'Camila', 'Edad': 22, 'Cursos': ['Python', 'R', 'SQL']}

In [96]:
personas.clear()

In [97]:
personas_2

{'Nombre': 'Camila', 'Edad': 22, 'Cursos': ['Python', 'R', 'SQL']}

In [100]:
personas_2.get("Edad")

22

In [102]:
personas_2
personas_2.pop('Edad')

22

In [103]:
personas_2

{'Nombre': 'Camila', 'Cursos': ['Python', 'R', 'SQL']}

In [105]:
diccionario_1 = {"Nombre": "Camila" , "Edad": 22 , "Cursos": ["Python","R", "SQL"] }
diccionario_2 = {"Nombre": "Carlos" , "Edad": 38 , "Cursos": ["Python","R"] }

diccionario_final = {
    "persona1" : diccionario_1,
    "persona2" : diccionario_2
}

In [107]:
diccionario_final.values()

dict_values([{'Nombre': 'Camila', 'Edad': 22, 'Cursos': ['Python', 'R', 'SQL']}, {'Nombre': 'Carlos', 'Edad': 38, 'Cursos': ['Python', 'R']}])

In [109]:
diccionario_final.pop("Edad")

KeyError: 'Edad'

In [ ]:
#https://entrenamiento-python-basico.readthedocs.io/es/latest/leccion3/tipo_diccionarios.html#:~:text=Los%20diccionarios%20pueden%20ser%20creados,el%20constructor%20%C2%ABdict()%C2%BB.

# For loops, if - elif - else

Los **for loops** iteran sobre una secuencia dada. Su sintaxis en python en mas simple comparada con los demas lenguajes de programación.

A tener en cuenta con los for loops:
* La estructura básica es **for** `<nombre>` **in** `<objeto_iterable>`**:**
* **Importante**: Los ":" siempre deben estar presentes, de lo contrario me generara un error en la ejecución.
* La siguiente líneas a las estructuras básicas deben estar indentadas.

Veamos un ejemplo:

In [110]:
lista_animales = ['perro','gato','caballo','vaca']
lista_animales

['perro', 'gato', 'caballo', 'vaca']

In [113]:
for i in lista_animales: 
    print("El animal",i,"tiene", len(i), "letras en su nombre")

El animal perro tiene 5 letras en su nombre
El animal gato tiene 4 letras en su nombre
El animal caballo tiene 7 letras en su nombre
El animal vaca tiene 4 letras en su nombre

In [114]:
for i in lista_animales[:2]: 
    print("El animal",i,"tiene", len(i), "letras en su nombre")

El animal perro tiene 5 letras en su nombre
El animal gato tiene 4 letras en su nombre

In [115]:
for i in lista_animales[2:]: 
    print("El animal",i,"tiene", len(i), "letras en su nombre")

El animal caballo tiene 7 letras en su nombre
El animal vaca tiene 4 letras en su nombre

In [116]:
for i in range(5,30,2):
    print(i)

5
7
9
11
13
15
17
19
21
23
25
27
29

In [117]:
for i in range(6):
    print(i)

0
1
2
3
4
5

**if / elif / else**

Una sentencia **if** se utiliza para controlar el flujo de una ejecución dependiendo si se cumple o no una condición dada.

**elif**: se utiliza para controlar el flujo agregando una condición adicional a la inicial. Puedo introducir la candidad de elif que desea.

**else**: se utiliza para ejecutar todo aquello que no cumpla con ninguna de las condiciones anteriores.

**Nota**. Similar al for loop, las sentencias if:
* Deben tener la siguiente estructura **if** `<condición>`:
* **Importante** deben tener ":" despues de la condición.
* La siguiente líneas a las estructuras básicas deben estar indentadas.

In [120]:
x = 0

if x <= 1 :
    print("x es menor o igual a 1")
elif x == 2: 
    print("x es igual a 2")
else: 
    print("x es mayor que 2")

x es menor o igual a 1

Usalmente las sentencias **if** se utilizan dentro de un **for loop**

In [125]:
for i in range(10):
    if i <= 1:
        print("Es menor o igual a 1")
    elif i == 2:
        print("Es igual a 2")
    else:
        print("Es mayor a 2")

Es menor o igual a 1
Es menor o igual a 1
Es igual a 2
Es mayor a 2
Es mayor a 2
Es mayor a 2
Es mayor a 2
Es mayor a 2
Es mayor a 2
Es mayor a 2

In [126]:
num_pares = []
num_impares = []

In [128]:
num_impares

[]

In [129]:

for num in range(10):
    
    if num == 0:
        print("El cero no va")
        
    elif num%2 == 0 :
        print(f"{num} es par")
        num_pares.append(num)
    
    else:
        print(f"{num} es impar")
        num_impares.append(num)

El cero no va
1 es impar
2 es par
3 es impar
4 es par
5 es impar
6 es par
7 es impar
8 es par
9 es impar

In [133]:
num_pares

[2, 4, 6, 8]
[1, 3, 5, 7, 9]

In [ ]:
num_impares

Creemos dos listas una de numeros pares y otra de impares.

**¡Atención!** con el uso de los elif.

# While loops (continue, pass, break)

Los **while loops** iteran infinitamente hasta que se cumpla una condición dada.

* Con **continue** se puede detener la iteración actual y pasar a la siguiente.
* Con **pass** es muy parecido a null se utiliza cuando no hay ninguna acción a realizar y simplemente se quiere continuar.
* Con **break** se detiene completamente la ejecución iterativa que se esta ejecutando.

Veamos un ejemplo:

**try - except** 

Algunas operaciones pueden tener errores, si queremos visualizar el error pero aún asi continuar ejecutando el código podemos usar las funciones de try y except.

# Definir funciones

Las funciones son bloques de código que se pueden reutilizar simplemente llamando a la función. Esto permite la reutilización de código simple y elegante sin volver a escribir explícitamente secciones de código. Esto hace que el código sea más legible, facilita la depuración y limita los errores de escritura.   

También podemos crear nuestras propias funciones.

* Toda función definida por el usuario debe tener la siguiente estructura: **def** `<nombre(parámetros)>`:
* La siguiente lineas a la estructura básica deben estar indentadas.
* Incluir que debe ejecutar mi función cuando sea llamada.
* Retornar un valor.

También es posible tener parámetros con valores predeterminados en una función definida.

Las funciones también pueden retornar múltiples valores.

# Instalación de Paquetes

In [ ]:
# pip install {Package} #básicas ya